@model IEnumerable<EntityFramwork.Models.Detail>

@{
    ViewBag.Title = "Index";
}



<h2>Grid</h2>
<h2>Employees</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiredDate)
            </th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.FirstName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.LastName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Age)
            </th>
            @*<th>
                    @Html.DisplayFor(modelItem => item.Department)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Salary)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.HiredDate)
                </th>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                </td>*@
        </tr>
    }

</table>
